<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.goods-mapper">
	<!--    GOODS_NO       NOT NULL NUMBER        
			GOODS_CODE     NOT NULL VARCHAR2(50)  
			GOODS_NAME     NOT NULL VARCHAR2(100) 
			GOODS_PRICE    NOT NULL VARCHAR2(50)  
			GOODS_DISCOUNT          NUMBER        
			POSTER_URL     NOT NULL VARCHAR2(260) 
			SUBPOSTER_URL           VARCHAR2(260) 
			BRAND_NO       NOT NULL NUMBER        
			CATEGORY_NO    NOT NULL NUMBER        
			HIT            NOT NULL NUMBER        
			CREATED_AT     NOT NULL DATE        -->
	<select id="goodsListData" resultType="GoodsVO" parameterType="map">
		SELECT goods_no, goods_code, goods_name, goods_price, goods_discount, poster_url, subposter_url, b.brand_name, hit,
				(SELECT COUNT(*) FROM goods_like gl WHERE gl.goods_no=g.goods_no) as like_count, 
				(SELECT COUNT(*) FROM review r WHERE r.goods_no=g.goods_no) as review_count 
		FROM goods g JOIN brand b
		ON g.brand_no=b.brand_no
		
		<where>
			<if test="category_no!=0">
				g.category_no = #{category_no}
			</if>
		</where>
		
		<choose>
		    <when test="sort=='price_asc'">      
		        ORDER BY TO_NUMBER(REGEXP_REPLACE(g.goods_price, '[^0-9]', '')) ASC    
		    </when>    
		    <when test="sort=='price_desc'">      
		        ORDER BY TO_NUMBER(REGEXP_REPLACE(g.goods_price, '[^0-9]', '')) DESC    
		    </when>    
		    <when test="sort=='hit_desc'">      
		        ORDER BY g.hit DESC   
		    </when>    
		    <otherwise>    
		        ORDER BY g.goods_no ASC  
    		</otherwise>
</choose>
		OFFSET #{start} ROWS FETCH NEXT 12 ROWS ONLY
	</select>
	
	<select id="goodsTotalPage" resultType="int" parameterType="int">
		SELECT CEIL(COUNT(*)/12.0) 
		FROM goods
		<where>
			<if test="_parameter!=0">
				category_no=#{_parameter}
			</if>
		</where>
	</select>
		
	<update id="goodsHitIncrement" parameterType="int">
		UPDATE goods SET
		hit=hit+1
		WHERE goods_no=#{goods_no}
	</update>
	<select id="goodsDetailData" resultType="GoodsVO" parameterType="int">
		SELECT goods_no, goods_name, goods_code, goods_price, 
		       goods_discount, poster_url, subposter_url, hit,
		       b.brand_name, c.category_name,
		       (SELECT COUNT(*) FROM goods_like gl WHERE gl.goods_no=g.goods_no) as like_count,
		       (SELECT COUNT(*) FROM review r WHERE r.goods_no=g.goods_no) as review_count 
		FROM goods g JOIN brand b 
		ON g.brand_no = b.brand_no
		JOIN category c 
		ON g.category_no=c.category_no
		WHERE g.goods_no=#{goods_no}
	</select>
	<select id="goodsFindListData" resultType="GoodsVO" parameterType="hashmap">
		SELECT goods_no, goods_code, goods_name, goods_price, poster_url, b.brand_name, hit,
		       (SELECT COUNT(*) FROM goods_like gl WHERE gl.goods_no=g.goods_no) as like_count
		FROM goods g JOIN brand b
		ON g.brand_no=b.brand_no
		<where>
			<if test="cno != 0">
				g.category_no=#{cno} AND
			</if>
			g.goods_name LIKE '%'||#{fd}||'%'
		</where>
		ORDER BY g.goods_no DESC
		OFFSET #{start} ROWS FETCH NEXT 12 ROWS ONLY	
	</select>
	
	<select id="goodsFindTotalPage" resultType="int" parameterType="hashmap">
		SELECT CEIL(COUNT(*)/12.0)
		FROM goods g
		<where>
			<if test="cno!=0">
				g.category_no=#{cno} AND
			</if>
			g.goods_name LIKE '%'||#{fd}||'%'
		</where>
	</select>
	
	<!-- 장바구니 이동 -->
	<!-- 1. 재고 있는지 확인 -->
	<select id="stockQuantityCheck" resultType="StockVO" parameterType="map">    
	SELECT no, quantity, goods_size 
	FROM stock     
	WHERE goods_no = #{goods_no} 
	AND goods_size = #{goods_size}
	</select>

	<!-- 2. 장바구니에 똑같은 상품+사이즈가 있는지 확인  -->
	<select id="cartCount" resultType="int" parameterType="map">  
	SELECT COUNT(*)   
	FROM cart     
	WHERE id = #{id} 
	AND stock_no = #{stock_no} 
	AND sizes = #{sizes}
	</select>

	<!-- 3. 장바구니에 이미 있으면 수량만 추가  -->
	<update id="cartUpdate" parameterType="map">   
	UPDATE cart 
	SET quantity = quantity + #{quantity}  , 
		created_at = SYSDATE
	WHERE id = #{id}       
	AND stock_no = #{stock_no}       
	AND sizes = #{sizes}
	</update>

	<!-- 4. 장바구니에 없으면 새로 담기 -->
	<insert id="cartInsert" parameterType="map">   
	INSERT INTO cart (cart_no, id, stock_no, sizes, quantity, created_at)    
	VALUES (cart_no_seq.nextval, #{id}, #{stock_no}, #{sizes}, #{quantity}, SYSDATE)
	</insert>
	
	<!-- 상품 리뷰 / 문의하기 글목록 화면 출력 -->
	<!-- 상품의 리뷰 목록 출력 -->
	<select id="goodsReviewList" resultType="ReviewVO" parameterType="int">
	    SELECT review_no, subject, content, id, hit, TO_CHAR(created_at, 'yyyy-MM-dd') as dbday
	    FROM review
	    WHERE goods_no = #{goods_no}
	    ORDER BY review_no DESC
	</select>
	 
	 <!-- 상품 리뷰 목록 출력 -->
	<select id="goodsQnaList" resultType="QnaVO" parameterType="int">
		SELECT qna_no, subject, content, id, type, status, TO_CHAR(created_at, 'yyyy-MM-dd') as dbday
		FROM qna
		WHERE goods_no = #{goods_no}
		ORDER BY qna_no DESC
	</select>
</mapper>