<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.like-mapper">
	<insert id="likeOn" parameterType="com.sist.vo.LikeVO">
		INSERT INTO goods_like(like_no, goods_no, id) 
		VALUES (
			goods_like_like_no_seq.nextval,
			#{goods_no},
			#{id}
		)
	</insert>
	<delete id="likeOff" parameterType="com.sist.vo.LikeVO">
		DELETE FROM goods_like
		WHERE id=#{id} AND goods_no=#{goods_no}
	</delete>
	<select id="likeCount" resultType="int" parameterType="int">
		SELECT COUNT(*)
		FROM goods_like
		WHERE goods_no=#{goods_no}
	</select>
	<select id="likeCheck" resultType="int" parameterType="com.sist.vo.LikeVO">
		SELECT COUNT(*)
		FROM goods_like
		WHERE goods_no=#{goods_no} AND id=#{id}
	</select>
	<!-- <update id="goodsLikeUpdate" parameterType="int">
		UPDATE goods SET
		like_count=(SELECT COUNT(*)
					FROM goods_like
					WHERE goods_no=#{goods_no})
		WHERE goods_no=#{goods_no}
	</update> -->
</mapper>