<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
	@Data 
	class GoodsVO {
		private int no...;
		private String name, poster ... ;
	}
	String sql="SELECT no, goods_name, goods_poster..."
			+"FROM goods_all"
	ps=conn.preparedStatement(sql)
	ResultSet rs=ps.executeQuery()
	while(re.next) {
		GoodsVO vo=new GoodsVO()
		vo.setNo(rs.getInt("no"))
		vo.setName(rs.getString("goods_name"))
		vo.setPoster(rs.getString("goods_poster"))
	}
	
	
	 NO                                        NOT NULL NUMBER
	 GOODS_NAME                                NOT NULL VARCHAR2(1000)
	 GOODS_SUB                                          VARCHAR2(1000)
	 GOODS_PRICE                               NOT NULL VARCHAR2(50)
	 GOODS_DISCOUNT                                     NUMBER
	 GOODS_FIRST_PRICE                                  VARCHAR2(20)
	 GOODS_DELIVERY                            NOT NULL VARCHAR2(20)
	 GOODS_POSTER                                       VARCHAR2(260)
	 HIT                                                NUMBER
 -->
<mapper namespace="com.sist.dao.goods-mapper">
	<resultMap type="com.sist.vo.GoodsVO" id="goodsMap">
		<result property="name" column="goods_name"/>
		<!-- 
			<property name="age" value="20"> : setAge(20)
			<bean porperty="age" value="30"> : setAge(30)
			=> DI : Spring
			#{name} = getName()
			
			SELECT goods_sub as sub
			=> JOIN 
				vo.getDvo().setDname()
				<result property="dvo.dname" column="dname"/>
			parameterMap = PROCEDURE
			
			resultMap
			resultType
			parameterType
		 -->
		<result property="sub" column="goods_sub"/>
		<result property="price" column="goods_price"/>
		<result property="poster" column="goods_poster"/>
		<result property="fprice" column="goods_first_price"/>
		<result property="delivery" column="goods_delivery"/>
		<result property="discount" column="goods_discount"/>	
	</resultMap>
	<select id="goodsListData" resultMap="goodsMap" parameterType="int">
		SELECT no, goods_name, goods_poster, goods_price
		FROM goods_all
		ORDER BY no ASC
		OFFSET #{start} ROWS FETCH NEXT 12 ROWS ONLY
	</select>
	<select id="goodsTotalPage" resultType="int">
		SELECT CEIL(COUNT(*)/12.0) FROM goods_all
	</select>
</mapper>