<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.food-mapper">
	<!--  
		namespace : package 
	-->
	<select id="foodListData" resultType="FoodVO" parameterType="int">
		SELECT no, name, poster, address, phone, likecount, replycount, theme, content, type
		FROM food
		ORDER BY no ASC
		OFFSET #{start} ROWS FETCH NEXT 12 ROWS ONLY
	</select>
	<select id="foodTotalPage" resultType="int">
		SELECT CEIL(COUNT(*)/12.0) FROM food
	</select>
	<!--  상세 보기 -->
	<update id="foodHitIncrement" parameterType="int">
		UPDATE food SET
		hit=hit+1
		WHERE no=#{no}
	</update>
	<select id="foodDetailData" parameterType="int" resultType="FoodVO">
		SELECT *
		FROM food
		WHERE no=#{no}
	</select>
	<select id="foodRearData" resultType="FoodVO" parameterType="string">
	 SELECT no, name, poster, address, rownum
	 FROM food
	 WHERE address LIKE '%'||#{address}||'%'
	 AND rownum&lt;=7
	</select>
	<select id="foodCategoryData" resultType="FoodVO" parameterType="string">
		SELECT no, name, poster, type
		FROM food
		WHERE type LIKE '%'||#{type}||'%'
		ORDER BY no ASC
	</select>
</mapper>