@charset "UTF-8";
.product-card{
    transition:.3s;
}

.product-card:hover{
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

.product-card img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.product-name{
    height:40px;
    overflow:hidden;
    font-weight:bold;
}

.product-desc{
    height:60px;
    color:#666;
    overflow:hidden;
}

.text-danger{
    margin-top:15px;
    margin-bottom:10px;
}

.btn{
    margin-top:5px;
}