<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	PreparedStatement / ResultSet
	SQL문장이 작성되는 부분
	namespace는 XMl에서 사용되는 package => 반드시 사용 
 -->
<mapper namespace="com.sist.dao.databoard-mapper">
	<!-- 중복 코딩 제거 -->
	<sql id="where-no">
	  WHERE no=#{no}
	</sql>
	<!-- 
	 (
	 resultMap* => 조인 시에 주로 사용 (VO+VO) 
	 parameterMap* => PROCEDURE
	 sql*  => 공통 사용되는 SQL이 있는 경우 (반복 제거)
	 insert* | 
	 update* | 
	 delete* | 
	 select*)+
	 -->
	 <!-- 
	 	1) SQL 문장 2) 어떤 VO인지 3) ?에 어떤값을 채울건지
	 				rewultType	  parameterType 
	 		<select>SQL문장</select>
	 	1. 목록 출력
	 		<select id="">SQL문장</select>
	 		id:
	 		resultType: 결과값 받기
	 		ResultSet rs=ps.executeQuery()
	 		whiel(rs.next()) {
	 			BoardVO vo=new BoardVO(); ==> VO 클래스가 ?
	 		}
	 		parameterType:
	  -->
	  <!-- 
	  	resultType ==> 리턴형
	  	parameterType ==> 매개변수
	  	?를 사용하면 안된다 
	   -->
	  <select id="databoardListData" resultType="DataBoardVO"
	  	parameterType="int"
	  >
	  	SELECT no, subject, name, TO_CHAR(redgate, 'yyyy-MM-dd') as dbday, hit
	  	FROM mvcDataBoard
	  	ORDER BY no DESC
	  	OFFSET #{start} ROWS FETCH NEXT 10 ROWS ONLY
	  </select>
	  <!-- 
	  	public List<DataBoardVO> databoardListData(int start)
	  			=============== selectList()
	  			DataBoardVO
	  			=============== selectOne()
	   -->
	   <!-- 
	   	총페이지 구하기
	    -->
	    <select id="databoardTotalPage" resultType="int">
	      SELECT CEIL(COUNT(*)/10.0) FROM mvcDataBoard
	    </select>
	    <!-- 
	    	데이터 추가
	    	#{name}, => vo.getName()
	       	#{subject}, => vo.getSubject()
	       	#{content}, => vo.getContnet()
	       	#{pwd} => vo.getPwd()
	     -->
	     <insert id="databoardInsert" parameterType="DataBoardVO">
	       INSERT INTO mvcDataBoard VALUES(
	       	mdb_no_seq.nextval,
	       	#{name},
	       	#{subject},
	       	#{content},
	       	#{pwd},
	       	SYSDATE,
	       	0,
	       	#{filename},
	       	#{filesize}
	       )
	     </insert>
	     <!-- 
	     	상세보기 
	      -->
	      <update id="hitIncrement" parameterType="int">
	      	UPDATE mvcDataBoard SET
	      	hit=hit+1
	      	<include refid="where-no"/>
	      </update>
	      <!-- 
	      	실제 데이터 읽기
	       -->
	       <select id="databoardDetailData" parameterType="int"
	       resultType="DataBoardVO"
	       >
		       SELECT no, name, subject, content, hit,
		       		TO_CHAR(redgate,'yyyy-MM-dd') as dbday,
		       		filesize, filename
		       FROM mvcDataBoard
		       <include refid="where-no"/>
	       </select>
</mapper>