<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.jjim-mapper">
	<select id="jjimCount" resultType="int" parameterType="com.sist.vo.JjimVO">
		SELECT COUNT(*)
		FROM jjim
		WHERE id=#{id} AND fno=#{fno}
	</select>
	<!-- 
		jjim insert
		jjim delete
		foodDetail
	 -->
	 <insert id="jjimInsert" parameterType="com.sist.vo.JjimVO">
	 	INSERT INTO jjim VALUES(
	 		jjim_jno_seq.nextval,
	 		#{fno},
	 		#{id},
	 		SYSDATE
	 	)
	 </insert>
	 <resultMap type="com.sist.vo.JjimVO" id="jjimMap">
	 	<result property="fvo.name" column="name"/>
	 	<!-- 
	 		vo.getFvo().setName(rs.getString("name"))
	 	 -->
	 	<result property="fvo.poster" column="poster"/>
	 	<result property="fvo.address" column="address"/>
	 </resultMap>
	 <select id="jjimListData" resultMap="jjimMap" parameterType="string">
	 	SELECT fno, jno, name, poster, address, TO_CHAR(regdate,'yyyy-MM-dd') as dbday
	 	FROM jjim JOIN food2
	 	ON jjim.fno=food2.no AND id=#{id}
	 	ORDER BY no DESC
	 </select>
	 <delete id="jjimDelete" parameterType="int">
	 	DELETE FROM jjim
	 	WHERE jno=#{jno}
	 </delete>
</mapper>