<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
    ID       NOT NULL VARCHAR2(20)  
	PWD      NOT NULL VARCHAR2(10)  
	NAME     NOT NULL VARCHAR2(51)  
	SEX               VARCHAR2(6)   
	BIRTHDAY NOT NULL VARCHAR2(30)  
	EMAIL             VARCHAR2(100) 
	POST     NOT NULL VARCHAR2(6)   
	ADDR1    NOT NULL VARCHAR2(200) 
	ADDR2             VARCHAR2(100) 
	PHONE             VARCHAR2(15)  
	CONTENT  NOT NULL CLOB          
	ADMIN             CHAR(1)       
	REGDATE           DATE   
 -->
<mapper namespace="com.sist.mapper.member-mapper">	
 	<insert id="memberInsert" parameterType="MemberVO">
 		INSERT INTO member2 VALUES(
 			#{id},
 			#{pwd},
 			#{name},
 			#{sex},
 			#{birthday},
 			#{email},
 			#{post},
 			#{addr1},
 			#{addr2},
 			#{phone},
 			#{content},
 			'n',SYSDATE
 		)
 	</insert>
 	<!-- ID 중복 체크 / 로그인 -->
 	<select id="memberIdCheck" resultType="int" parameterType="string">
 		SELECT COUNT(*)
 		FROM member2
 		WHERE id=#{id}
 	</select>
 	<!-- 비밀번호 검색 -->
 	<select id="memberGetPassword" resultType="MemberVO" parameterType="string">
 		SELECT id, pwd, name, sex, phone, email, post, addr1, addr2, admin
 		FROM member2
 		WHERE id=#{id}
 	</select>
</mapper>