<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.reserve-mapper">
	<select id="reserveFoodListData" resultType="FoodVO" parameterType="hashmap">
		SELECT no, name, poster, type 
		FROM food2
		WHERE type LIKE '%'||#{type}||'%'
		ORDER BY no ASC 
		OFFSET #{start} ROWS FETCH NEXT 20 ROWS ONLY
	</select>
	<select id="reserveFoodTotalPage" resultType="int" parameterType="string">
		SELECT CEIL(COUNT(*)/20.0)
		FROM food2
		WHERE type LIKE '%'||#{type}||'%'
	</select>
	<insert id="reserveInsert" parameterType="ReserveVO">
		INSERT INTO reserve (rno, fno, id, name, rdate, rtime, inwon)
		VALUES (res_rno_seq.nextval, #{fno}, #{id}, #{name}, #{rdate}, #{rtime}, #{inwon})
	</insert>
	<resultMap type="com.sist.vo.ReserveVO" id="rMap">
		<result column="poster" property="fvo.poster"/>
		<result column="name" property="fvo.name"/>
		<result column="phone" property="fvo.phone"/>
	</resultMap>
	<select id="reservemyPageListData" parameterType="string" resultMap="rMap">
		SELECT rno, fno, id, r.name, rdate, rtime, inwon, TO_CHAR(regdate,'yyyy-MM-dd') as dbday, poster, f.name, phone, ok
		FROM reserve r JOIN food2 f
		ON r.fno=f.no
		AND id=#{id}
		ORDER BY rno DESC
	</select>
	<!-- 
		승인 / 취소 / 예약정보 보기 = 알림
	 -->
	 <select id="reserveAdminPageListData" resultMap="rMap">
		SELECT rno, fno, id, r.name, rdate, rtime, inwon, TO_CHAR(regdate,'yyyy-MM-dd') as dbday, poster, f.name, phone, ok
		FROM reserve r JOIN food2 f
		ON r.fno=f.no
		ORDER BY rno DESC
	</select>
	
	<update id="reserveAdminOk" parameterType="int">
		UPDATE reserve SET
		ok='y'
		WHERE rno=#{rno}
	</update>
</mapper>