<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.post-mapper">
	<select id="postFind" resultType="ZipcodeVO" parameterType="string">
		SELECT zipcode, sido, gugun, dong, NVL(bunji,' ') as bunji
		FROM zipcode
		WHERE dong like '%'||#{dong}||'%'
	</select>
	<select id="postFindCount" resultType="int" parameterType="string">
		SELECT COUNT(*)
		FROM zipcode
		WHERE dong like '%'||#{dong}||'%'
	</select>
</mapper>