<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- Connection 관련 -->
<configuration>
	<properties resource="db.properties"/>
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<!-- 동일 쿼리를 반복 실행하면 DB를 다시 조회하지 않는다 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<!-- 컬럼명 : user_name + userName -->
		<setting name="callSettersOnNulls" value="true"/>
		<!-- null값이 있는 경우 : setter호출 -->
		<setting name="logImpl" value="STDOUT_LOGGING"/>
		<!-- SQL 실행 로그 출력 -->
	</settings>
	<typeAliases>
		<typeAlias type="com.sist.vo.FoodVO" alias="FoodVO"/>
		<typeAlias type="com.sist.vo.GoodsVO" alias="GoodsVO"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<!--  type : class명  PooledDataSource-->
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
				<property name="poolMaximumActiveConnections" value="${maxActive}"/>
				<property name="poolMaximumIdleConnections" value="${maxIdle}"/>
				<property name="poolTimeToWait" value="${maxWait}"/>
				<!-- 설정이 없는 경우 maxActive:8 / maxIdle:8 / maxWait:10000 -->
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/sist/dao/food-mapper.xml"/>
		<mapper resource="com/sist/dao/goods-mapper.xml"/>
		<!-- include -->
	</mappers>
</configuration>