<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.board-mapper">
	<!-- 반복 : 동적쿼리 -->
	<sql id="where-no">
		WHERE no=#{no}
	</sql>
	<select id="boardListData" resultType="BoardVO" parameterType="int">
		SELECT no, subject, name, TO_CHAR(regdate,'yyyy-MM-dd') as dbday, hit
		FROM jspboard
		ORDER BY no DESC
		OFFSET #{start} ROWS FETCH NEXT 10 ROWS ONLY
	</select>
	<select id="boardRowCount" resultType="int">
		SELECT COUNT(*) FROM jspboard
	</select>
	<insert id="boardInsert" parameterType="BoardVO">
		<!--  sequence : 자동 증가 번호 
			#{} = setString() => ''
			${} = 일반문자열 => ''(X) = column/table
		-->
		<!-- <selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT NVL(MAX(no)+1,1) as no FROM jspboard
		</selectKey> -->
		INSERT INTO jspboard(name,subject,content,pwd) VALUES(
			#{name},
			#{subject},
			#{content},
			#{pwd}
		)
	</insert>
	<!-- 
		상세보기
		MyBatis 단점 = 두개의 SQL문장을 실행할 수 없다
	 -->
	 <update id="hitIncrement" parameterType="int">
	 	UPDATE jspboard SET
	 	hit=hit+1
	 	<include refid="where-no"/>
	 </update>
	 <!-- 
	 	resultType : 리턴형 => 없는 경우 void => insert / update / delete
	 	parameterType : 매개변수 => 매개변수가 없는 경우
	 	public BoardVO boardDetailData(int no)
	 	
	 	SQL 문장의 반복 = <sql>
	  -->
	 <select id="boardDetailData" resultType="BoardVO" parameterType="int">
	 	SELECT no, name, subject, content, hit, TO_CHAR(regdate,'yyyy-MM-dd hh24:mi:ss') as dbday
	 	FROM jspboard
	 	<include refid="where-no"/>
	 </select>
	 
	 <!-- 삭제하는 부분 -->
	 <select id="boardGetPassword" resultType="string" parameterType="int">
	 	SELECT pwd
	 	FROM jspboard
	 	WHERE no=#{no}
	 </select>
	 <delete id="boardDelete" parameterType="int">
	 	DELETE FROM jspboard
	 	WHERE no=#{no}
	 </delete>
	 
	 <!-- 
	  	수정 => 이전의 데이터 출력
	  	비밀번호 검색 
	  	실제 수정 
	  -->
	  <update id="boardUpdate" parameterType="BoardVO">
	  	UPDATE jspboard SET
	  	name=#{name}, subject=#{subject}, content=#{content}
	  	WHERE no=#{no}
	  </update>
	  <!-- 
	  		처리 = 보여주는 화면 => 음성
	  		1. list : insert / delete
	  		2. detail : update
	   -->
</mapper>